{
  "root": true,
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "plugins": [
    "jest",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": false,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "prefer-destructuring": 1,
    "global-require": 1,
    "node/no-unsupported-features/es-syntax": 0,
  },
  "globals": {
    "shallow": true,
    "render": true,
    "mount": true
  }
}
